.profileImg img{
  width: 100%;
}

.techWrapper span{
  font-size: 16px;
}

.tech{
  font-size: 12px;
}

.timelineSection{
  margin-left: 20px;
  margin-right: 20px;
}

.vertical-timeline-element--work .vertical-timeline-element-content{
  background-color: #6f6f6f;
  color: rgb(255, 255, 255);
}

.vertical-timeline-element--education .vertical-timeline-element-content{
  background-color: #333333;
  color: rgb(255, 255, 255);
}

.vertical-timeline-element-content p {
  font-size: 1.1rem !important;
}

.vertical-timeline-element-date{
  color: #ffffff;
  text-shadow: 2px 0px 1px #ffffff !important;
  text-shadow: 2px 3px 4px #000000 !important;
}

.aboutMeContent{
  background-color: #919191;
}

.aboutmeDescription{
  animation: grow 1s;
}

.aboutMeSection{
  color: white;
}

@media only screen and (max-width: 500px) {
  .social-links{
    font-size: 0.9rem;
  }
  .aboutmeDescription{
    font-size: 0.9rem;
  }
  .vertical-timeline-element-title{
    font-size: 0.7rem;
  }
  .vertical-timeline-element-subtitle h5{
    font-size: 0.8rem;
    margin-top: 4px;
  }
  .vertical-timeline-element-content p {
    font-size: 0.8rem !important;
  }
  .vertical-timeline-element-date{
    font-size: 0.7rem !important;
  }
  .vertical-timeline-element-icon{
    width: 30px !important;
    height: 30px !important;
    left: 5px !important;
    -webkit-box-shadow: 0 0 0 2px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 1px 0 2px rgba(0,0,0,.05) !important;
    box-shadow: 0 0 0 2px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 1px 0 2px rgba(0,0,0,.05) !important;
  }
  .vertical-timeline-element-icon svg {
    width: 16px !important;
    height: 16px !important;
    margin-left: -8px !important;
    margin-top: -8px !important;
  }
  .tech span{
    font-size: 0.6rem;
  }
}