.profileImg img{
  width: 100%;
}

.techWrapper{
  background-color: #333333;
}

.techSkills{
  font-size: 12px;
}


.vertical-timeline-element--work .vertical-timeline-element-content{
  background-color: #ffc228;
}

.vertical-timeline-element--education .vertical-timeline-element-content{
  background-color: #333333;
  color: rgb(255, 255, 255);
}

.vertical-timeline-element-date{
  color: #333333;
}

.aboutMe p{
  background-color: #b4b4b4;
  color: #333333;
  text-shadow: 1px 0px 1px #000000 !important;
}

.aboutMeSection{
  background-color: #333333;
  color: white;
}