.card-img{
    width: 100%;
    height: 100%;
}

.cards{
    margin: 1rem !important;
    min-height: 400px;
}

.light-mode .card-body{
    color: #000 !important;
}

.dark-mode .card-body{
    color: #fff !important;
}

.light-mode .card{
    background-color: #fff;
}
.dark-mode .card{
    background-color: #2e2e2e !important;
}

.card-title{
    font-size: 16px;
}

.card-text{
    font-size: 12px;
}

.row{
    margin: 0;
}

.card{
    border-radius: 0 !important;
}
.card:hover{
    background-color: #b4b4b4 !important;
}
.card:hover .card-body{
    color: #fff !important;
    cursor: pointer;
}

.card-body span{
    font-size: 11px;
}

.tr-border-radius{
    border-top-right-radius: 60px !important;
}

.card a{
    text-decoration: none;
}

.max-card{
    max-height: 275px !important;
}

.paginator_active{
    background: radial-gradient(#141414, #919191) !important;
}

