.carousel-item{
    height: 500px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

.carousel{
    background-color: #333333;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #ffc228;
}

.featuredProjectDescription{
    background-color: #ffc228;
    right: 0 !important;
    top: 0px !important;
    width: 200px;
    position: absolute;
    z-index: 2;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

.featuredProjectDescription span{
    margin-right: 20px;
}

.featuredProjectDescription:hover{
    background-color: #919191;
}

.featuredProjectDescription span{
    font-size: 22px;
    text-shadow: 1px 0px 1px #000000 !important;
}

.featuredProjects{
    min-height: 600px;
}