.carousel-item{
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.projects{
    min-height: 85vh;
}

.featuredProjects .carousel, .carousel-inner, .carousel-item{
    min-height: 600px;
}

.file-container {
    position: relative;
    margin-top: 100px;
}
  
.file-title {
    position: absolute;
    top: -55px;
    left: -6px;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: radial-gradient(#919191,#ffc228) !important;
    margin: 45px !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #ffc228;
}

.featuredProjectDescription {
    background: radial-gradient(#b9b191, #ffc228) !important;
    color: black;
    font-weight: 500;
    right: 0 !important;
    top: 0px !important;
    width: 200px;
    position: absolute;
    z-index: 2;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}

.featuredProjectDescription:hover{
    background: radial-gradient(#141414, #919191) !important;
    color: #fff;
}

.featuredProjectDescription.expanded {
    max-height: 300px;
}

.featuredProjectDescription span{
    margin-right: 20px;
    font-size: 18px !important;
}

.featureIcon{
    font-size: 20px;
}

@media only screen and (max-width: 500px) {
    .featuredProjectDescription{
        width: auto;
    }
    .featuredDescription{
        font-size: 0.9rem !important;
    }
    .featuredProjectDescription p {
        font-size: 0.8rem;
    }
    .featuredProjectDescription span {
        font-size: 0.7rem !important;
    }
    .carousel-inner{
        height: 260px !important;
        min-height: auto !important;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 1.4rem !important;
        height: 1.4rem !important;
    }
    .featuredDescription{
        font-size: 0.8rem !important;
    }
}