footer{
    background-color: #333333 !important;
}

.footer-content{
    color: rgb(247, 247, 247);
}

.footer-links{
    font-size: 20px;
    font-weight: 400;
    display: flex;
}

.footer-links .links{
    text-shadow: 1px 1px 1px black;
}

.footer-links a{
    text-decoration: none;
    color: #ffffff;
}