footer{
    background-color: #333333 !important;
}

.footer-content{
    color: rgb(247, 247, 247);
}

.footer-links{
    animation: 1s ease-out 0s 1 slideInRight;
}

.footer-links a{
    text-decoration: none;
    color: #333333;
}