.techSkills{
    padding: 4px 8px;
}

.techSkills h4{
    padding: 4px 6px;
    margin-left: 8px;
}

.techSkillsList{
    margin-bottom: 4px;
    font-size: 14px;
}

.techSkillsList span{
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px 8px;
}

.normalTheme {
    background-color: rgb(175, 175, 175);
    color: #ffffff;
}

#overview-image{
    max-height: 500px;
}

.alternateBg {
    border-top-left-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    min-height: 300px;
}

.case-study{
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 600;
}

.highlight-text{
    font-weight: 600;
}
@media only screen and (max-width: 500px) {
    .carousel-item{
        min-height: auto !important;
        height: auto !important;
        padding: 30px;
    }
    .case-study h1{
        font-size: 1rem !important;
    }
    .case-study p{
        font-size: 1rem !important;
    }
    .highlight-text h1{
        font-size: 1.3rem;
    }
    .project-header h1{
        font-size: 1.3rem;
    }
    .project-header p{
        font-size: 0.9rem;
    }
    .case-study{
        margin-left: 6px;
        margin-right: 6px;
    }
}