.techSkills{
    padding: 4px 8px;
}

.techSkills h4{
    padding: 4px 6px;
    border-radius: 4px;
    margin-left: 8px;
}

.techSkillsList{
    margin-bottom: 4px;
    font-size: 14px;
}

.techSkillsList span{
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

.normalTheme {
    background-color: rgb(175, 175, 175);
    color: #ffffff;
}

.alternateBg {
    border-top-left-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    background-color: #d7d7d714;
    min-height: 300px;
}