.item{
    min-height: 40rem;
}

.item img{
    width: 100%;
}

.inner-carousel{
    display: flex;
    background: goldenrod;
}

.carousel{
    cursor: grab;
}

.project-information{
    height: 250px;
}