.item{
    min-height: 40rem;
}

.item img{
    width: 100%;
    pointer-events: none;
}

.inner-carousel{
    display: flex;
    background: goldenrod;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.project-information{
    height: 250px;
}

.test{
    position: absolute;
    top: 0;
    right: 0;
}