:root {
  --footer-height: 0;
  --contactForm-height: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #494949 !important;
  font-family: monospace, 'sans-serif' !important;
}

img{
  -webkit-user-drag: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Back to top  */
.fixed-bottom-right {
  position: fixed;
  bottom: var(--footer-height, 0);
  right: 8px;
}

.personalLinks-height{
  height: var(--contactForm-height, 0);;
}

.backToTopSpan{
  font-size: 20px;
  margin: 5px;
}

.backToTop{
  text-decoration: none;
  color: inherit;
  animation: 1s ease-out 0s 1 slideInRight;
  z-index: 2;
}

.backToTop div{
  background: radial-gradient(#ffffff, #ffbc00) !important;
  padding: 2px;
}

.backToTop div:hover{
  background-color: #919191 !important;
  color: #fff;
}

.icon{
  margin: 5px;
}

.defaultCursor{
  cursor: default;
}

.normalThemePrime{
  background-color: #333;
  color: #fff;
}

.dark-bg{
  background: radial-gradient(#000000, #494949) !important;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  background: radial-gradient(#919191,#ffc228) !important;
  color: #ffffff !important;
  border-radius: 4px;
  margin: 8px;
  text-shadow: 1px 0px 1px #000000 !important;
}

.text-shadow{
  text-shadow: 2px 2px 2px #000000 !important;
}

.text-shadow-light-small{
  text-shadow: -1px 0px 3px #bfbfbf !important;
}

.text-shadow-light{
  text-shadow: 3px 2px 4px #ffffff !important
}

.hoverWhite:hover{
  color: rgb(255, 255, 255);
}

.tag:hover{
  background: radial-gradient(#ffc228,#ffffff) !important;
  text-shadow: 1px 0px 1px #ffffff !important;
  color: #000000 !important;
}

.slideLeft{
  animation: 2s ease-out 0s 1 slideInLeft;
}

.slideRight{
  animation: 1s ease-out 0s 1 slideInRight;
}

.slideInFarRight{
  animation: 1s ease-out 0s 1 slideInFarRight;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(+100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFarRight {
  0% {
      transform: translateX(+200%);
  }
  100% {
      transform: translateX(0);
  }
}