:root {
  --footer-height: 0;
  --contactForm-height: 0;
  --carousel-control-prev-color-light: #99e7e4;
  --carousel-control-prev-color-dark: #ffc228; /* Change this to your desired dark mode color */
}

/* CustomScrollbar.css */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a5a5a;
}

::-webkit-scrollbar-thumb:active {
  background-color: #ffffff;
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
  border-radius: 0px;
  background-color: #666666;
}

::-webkit-scrollbar-button:hover {
  background-color: #666666;
}

::-webkit-scrollbar-button:active {
  background-color: #555555;
}

::-webkit-scrollbar-track {
  background: #555555;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}



/* Apply colors to the carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--carousel-control-prev-color-light);
}

.light-mode .carousel-control-prev-icon,
.light-mode .carousel-control-next-icon {
  background-color: var(--carousel-control-prev-color-light);
}

.dark-mode .carousel-control-prev-icon,
.dark-mode .carousel-control-next-icon {
  background-color: var(--carousel-control-prev-color-dark);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

/* Light mode */
.light-mode {
  background-color: #fff;
  /* other styles */
}

/* Dark mode */
.dark-mode {
  background-color: #373737;
  /* other styles */
}

img{
  -webkit-user-drag: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Back to top  */
.fixed-bottom-right {
  position: fixed;
  bottom: calc(var(--footer-height, 0px) + 5px);
  right: 8px;
}

.personalLinks-height{
  height: var(--contactForm-height, 0);;
}

.backToTopSpan{
  font-size: 20px;
  margin: 5px;
}

.backToTop{
  text-decoration: none;
  color: inherit;
  animation: 1s ease-out 0s 1 slideInRight;
  z-index: 2;
}


.light-mode .backToTop div{
  background-color: #99e7e4;
}

.dark-mode .backToTop div{
  background-color: #ffc228;
}

.backToTop div{
  padding: 2px;
  color: #fff;
}

.light-mode .backToTop div:hover{
  background-color: #ffc228;
}

.dark-mode .backToTop div:hover{
  background-color: #99e7e4;
}

.icon{
  margin: 5px;
}

.defaultCursor{
  cursor: default;
}

.min-height{
  min-height: 350px;
}

.pointerCursor{
  cursor: pointer;
}

.normalThemePrime{
  background-color: #333;
  color: #fff;
}

.tag{
  display: inline-block;
  padding: 4px 8px;
  color: #ffffff !important;
  border-radius: 4px;
  margin: 8px;
  text-shadow: 1px 0px 1px #000000 !important;
}


.light-mode .links{
  background-color: #99e7e4;
}

.dark-mode .links{
  background-color: #ffc228;
}

.links {
  display: inline-block;
  padding: 4px 8px;
  color: #fff !important;
  margin: 8px;
  font-weight: 500;
  text-shadow: 1px 0px 3px black, 0px 0px 3px black;
}

.links:hover{
  position: relative;
  top: -4px;
}

.light-mode .links:hover{
  background-color: #ffc228;
}

.dark-mode .links:hover{
  background-color: #99e7e4;
}

.light-mode .tech_tag{
  color: #000;
  border-left: 3px solid #99e7e4 !important;
}

.dark-mode .tech_tag{
  color: #fff;
  border-left: 3px solid #ffc228 !important;
}

.tech_tag{
  display: inline-block !important;
  padding: 4px 8px !important;
  margin: 8px !important;
  font-weight: 600 !important;
  border-left: 3px solid #ffc228 !important;
}

.text-shadow{
  text-shadow: 2px 2px 2px #000000 !important;
}

.text-shadow-light-small{
  text-shadow: -1px 0px 3px #bfbfbf !important;
}

.text-shadow-light{
  text-shadow: 3px 2px 4px #ffffff !important
}

.hoverWhite:hover{
  color: rgb(255, 255, 255);
}

.grow{
  animation: ease-in grow 1s;
}

.slideLeft{
  animation: 2s ease-out 0s 1 slideInLeft;
}

.slideRight{
  animation: 1s ease-out 0s 1 slideInRight;
}

.slideInFarRight{
  animation: 1s ease-out 0s 1 slideInFarRight;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-200%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(+100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFarRight {
  0% {
      transform: translateX(+200%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes grow {
  0% { transform: scale(.2); }
  100% { transform: scale(1); }
}

@media only screen and (max-width: 500px) {
  .tech_tag{
    margin: 0px !important;
  }
  .tech_tag span{
    font-size: 0.8rem;
    font-weight: 600;
  }
  .section-heading{
    font-size: 1rem;
  }
}